.hero {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    padding: 2.5rem 1.5rem;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background:
        image-set(url('../../assets/yousician-hero-mobile.png') 1x,
            url('../../assets/yousician-hero-mobile@2x.png') 2x,
            url('../../assets/yousician-hero-mobile@3x.png') 3x) center/cover;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    text-align: center;
    color: var(--color-white);
}

.hero h1 {
    margin: 0 0 1rem;
    font-size: clamp(1.3rem, 5vw, 2.3rem);
}

.hero p {
    line-height: normal;
    font-size: clamp(1.1rem, 5vw, 1.3rem);
    margin: 0 0 1.5rem;
}

.search-bar {
display: flex;
  max-width: 600px;         
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px var(--color-black);
  max-width: clamp(280px, 70vw, 100%);
}

.search-bar input {
    flex: 1;
    padding: 1rem 1.2rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: var(--color-gray-dark);
    font-family: 'Montserrat', sans-serif;
}

.search-bar input::placeholder {
    color: var(--color-gray-medium);
}

.search-bar button {
    padding: 1rem 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-gray-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

@media (min-width: 768px) {
    .hero-background {
        background-image:
            image-set(url('../../assets/yousician-hero.png') 1x,
                url('../../assets/yousician-hero@2x.png') 2x,
                url('../../assets/yousician-hero@3x.png') 3x);
        background-size: cover;
        background-position: center;
    }
    .hero {
        padding: 4rem 1rem;
    }
}
