.level-badge {
  width: var(--badge-size-sm);
  height: var(--badge-size-sm);
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  flex-shrink: 0;
  position: relative;
  background-color: var(--color-black);
  --progress: 0%;
}

.level-badge span {
  color: var(--color-white);
}

.level-badge::before {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: var(--border-radius-full);
  padding: var(--border-width);
  background: var(--color-gray-dark);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.level-badge::after {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: var(--border-radius-full);
  padding: var(--border-width);
  background: conic-gradient(
    from 0deg,
    currentColor 0%,
    currentColor var(--progress),
    transparent var(--progress)
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.level-badge.green {
  color: var(--color-green);
}

.level-badge.orange {
  color: var(--color-orange);
}

.level-badge.red {
  color: var(--color-red);
}

.level-badge.selected {
  background-color: var(--color-white);
}

.level-badge.selected span {
    color: var(--color-black);
}

.level-badge.selected::before,
.level-badge.selected::after {
  opacity: 0;
}