.level-badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  flex-shrink: 0;
  position: relative;
  background-color: #000000;
  --progress: 0%;
}

.level-badge span {
  color: var(--color-white);
}

.level-badge::before {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  padding: 3px;
  background: #383635;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.level-badge::after {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  padding: 3px;
  background: conic-gradient(
    from 0deg,
    currentColor 0%,
    currentColor var(--progress),
    transparent var(--progress)
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.level-badge.green {
  color: #6fc13e;
}

.level-badge.orange {
  color: #ff8e00;
}

.level-badge.red {
  color: #dc001c;
}

.level-badge.selected {
  background-color: #ffffff;
}

.level-badge.selected span {
    color: #000000;
}

.level-badge.selected::before,
.level-badge.selected::after {
  opacity: 0;
}

@media (min-width: 768px) {
  .level-badge {
    width: 56px;
    height: 56px;
    font-size: 1.125rem;
  }
  
  .level-badge::before,
  .level-badge::after {
    inset: -4px;
    padding: 4px;
  }
}