.song-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  transition: background-color 0.2s ease;
}

.song-item:nth-child(even) {
  background-color: var(--color-black);
}

.song-item:nth-child(odd) {
  background-color: var(--color-gray-darkest);
}

.song-item:hover {
  background-color: var(--color-gray-darker);
}

.song-item img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  object-fit: cover;
}

.song-info {
  flex: 1;
  min-width: 0;
}

.song-info h3 {
  margin: 0 0 .5rem 0;
  font-size: .8rem;
  font-weight: 600;
  color: var(--color-white);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: 150px; /* TODO: Adjust later */
}

.song-info p {
  margin: 0;
  font-size: .775rem;
  color: var(--color-white);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px; /* TODO: Adjust later */
}

.favorite-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-medium);
  transition: color 0.2s ease, transform 0.1s ease;
  flex-shrink: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .song-item {
    padding: 1rem;
    gap: 1.5rem;
  }

  .song-item img {
    width: 80px;
    height: 80px;
  }

  .song-info h3 {
    font-size: 1.125rem;
  }

  .song-info p {
    font-size: 1rem;
  }

  .favorite-btn {
    width: 48px;
    height: 48px;
  }

  .favorite-btn svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1024px) {
  .song-item {
    padding: 1.25rem;
  }
}